*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}
header .logo{
    color: none;
}
header {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #cecece;
}
.searchbar{
    background: white;
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 10px 50px ;
}
.searchbar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 15px;
}
.cart{
    padding-right: 20px;
    border-radius: 30px;
    font-size: 30px;
}
body{
    background-color: #dddee0;
}
#wrap{
    display: flex;
    flex-direction: row;
    width: 100%;
}
article{
    flex:3;
    margin-left: 20px;
    margin-top: 20px;
    padding: 5 15px;
}
article .tieude{
    color:#4877a3;
    font-weight: bold;
    font-size: 30;
}
article .dssanpham{
    display:flex;
    flex-direction: row;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
article .sanpham{
    text-align: center;
    border:1px solid #e9e9e9; 
    padding:10px;
    background: #fff;
}
aside{
    flex:1;
}
aside .danhmuc{
    list-style-type: none;
    border: 1px solid #D0D0D0;
    margin-left: 20px ;
    margin-top: 20px; 
    background-color: #e9e9e9;
}
aside .danhmuc li{
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}
p{
    display: flex;
    border-radius: 12px;
    border-color: #008fcb;
    border-width: 1p;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: #008fcb;
    transition: color 0.4s;
}
.sanpham a{
    text-decoration: none;
    color: black;
}
.sanpham a:hover{
    color: #008fcb;
    transition: color 0.4s;
}
footer{
    width: 100%;
    padding: 0;
}
footer .footer-top{
    background-color: #008fcb;
}
footer .footer-center{
    display: flex;
    justify-content: space-between;
}
.policy{
    padding-right: 20px;
}

